.App {
  box-sizing:border-box;
  text-align: center;
}
.Calculator {
  width: 500px;
  margin: auto;
  border: 1px solid black;
  min-height: 100;
}
.Display {
  height: 50px;
  font-size: 2em;
  padding: 5px;
  text-align: right;
  background: rgb(238, 230, 218)
}
.Keypad{
  display: grid;
  gap: 2px;
  grid-template-columns: repeat(4, 1fr);
}
.Button{
  justify-content: center;
  border: 1px solid rgb(165, 85, 85);
  font-size: 2em;
  background-color: rgb(235, 198, 198);
}